.env
myenv
app/__pycache__
app/services/__pycache__
app/models/__pycache__
app/routers/__pycache__
app/.env
__pycache__
app/services/search_vectorstore.py
app/data
.env
volumes
app/services/persist_knowledge_service.py